[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
cryptography = "*"
psycopg2 = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
ptpython = "*"
pytest = "*"
sqlalchemy2-stubs = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
